@import '../../../scss/_variables';

.header {
	background-color: $background-opacity;
	z-index: 100;
	padding: 10px 0;
	&_container {
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 200;
	}
}
.headerIcons {
	font-size: 2rem;
}
.loginIcon {
	margin-left: 30px;
}
.logoWrapper {
	z-index: 300;
}

.hamburgerWrapper {
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: $transition;
	padding-top: 5px;
	border-radius: 0 0 20px 20px;
	z-index: 2;
}
.hamburger,
.hamburger::after,
.hamburger::before {
	height: 2px;
	background-color: #fff;
	transition: $transition;
	border-radius: 5px;
}
.hamburger {
	position: relative;
	width: 50px;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		bottom: -15px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		bottom: 15px;
	}
}

.hamburgerWrapper:hover .hamburger,
.hamburgerWrapper:hover .hamburger::after,
.hamburgerWrapper:hover .hamburger::before {
	background-color: $accent;
}

.hamburgerWrapper.active .hamburger {
	background-color: transparent;
}
.hamburgerWrapper.active .hamburger::after {
	transform: rotate(225deg);
	bottom: 0;
}
.hamburgerWrapper.active .hamburger::before {
	transform: rotate(-225deg);
	bottom: 0;
}
