@import '../../../scss/_variables';

.menuWrapper {
	position: absolute;
	left: 50%;
	width: 100%;
	max-width: 1200px;
	transform: translate(-50%) translateY(-80px);
	opacity: 1;
	background-color: $background-opacity;
	display: flex;
	justify-content: space-between;
	padding: 24px 50px;
	transition: $transition;
	z-index: 1;
}
.active {
	transform: translate(-50%) translateY(0);
	border-radius: 0 0 50px 50px;
	visibility: visible;
	opacity: 1;
}
.animationWrapper {
	opacity: 0;
	visibility: hidden;
}

.activeLinks {
	animation: links 0.5s 1;
	opacity: 1;
	visibility: visible;
}

@keyframes links {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
